<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Computer Vision</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'objectrecognition/style.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script type="text/javascript" src="{% static 'objectrecognition/bootstrap-filestyle.js' %}"></script>
        <script src="https://d3js.org/d3.v3.min.js"></script>
        
    </head>
    <body>
    <!-- List of uploaded documents -->
    
    <div class="container">
          <div class="header clearfix">
            <nav>
              <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="{% url 'list' fromPostFlag=0 %}">Home</a></li>
                <li role="presentation"><a href="#">About</a></li>
                <li role="presentation"><a href="#">Contact</a></li>
              </ul>
            </nav>
            <h3 class="text-muted">Try out a quick demo of computer vision.</h3>
          </div>
    
          <div class="jumbotron">
            <h1>Computer Vision</h1>
            <p class="lead">Check our demo with a sample upload and accurately identify objects and their attributes.</p>
            <p class="small">This showcases our capabilities in latest object recognition technologies. The subject to be identified can be in natural setup (no white background required), even with some of it partially covered/distorted.</p>
            {% if documents %}
            <div class="results">
                <div class="resultImage"><a href="{{ documents.docfile.url }}">{{ documents.docfile.name }}</a></div>
                <div class="resultLabels">
                    <h1><span class="label label-primary">{{ mainResult }}</span></h1>
                    <br />
                    {% for one_result in otherResults %}
                        <h4><span class="label label-info">{{ one_result }}</span></h4>
                    {% endfor %}
                </div>
            </div>
            
        {% else %}
            <p>No documents.</p>
        {% endif %}
        <div class="row">
            <div class="col-md-6 ">
                <div class="panel panel-primary single-upload">
                    <div class="panel panel-heading"><p>Single Upload</p></div>
                    <div class="panel-body">
                        <form action="{% url 'list' fromPostFlag=1 %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <p>{{ form.non_field_errors }}</p>
                                <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
                                <p>
                                    {{ form.docfile.errors }}
                                </p>
                                <p><a id="choose_file" class="btn btn-lg btn-success" role="button" >{{ form.docfile }}</a></p>
                                <p>
                                    <input class = "btn btn-lg btn-warning" type="submit" value="Upload" />
                                    
                                </p>
                                
                        </form>
                    </div>
                </div>
                
              </div>
            <div class="col-md-6">
                <div class="panel panel-primary bulk-upload">
                    <div class="panel panel-heading"><p>Bulk Upload</p></div>
                    <div class="panel-body">
                            <p> You can upload image links in a sheet or a zip file with images to be tagged</p>
                            <a class="btn btn-lg btn-info" role="button">Bulk Upload</a>
                    </div>
                </div>
                
              </div>
            
        </div>
    </div>
</div>
<div class="container ">
    <div class="jumbotron">
        <div class="image-labels">
            <h2>What all can it identify?</h2>
            <p>Well, everything that it has been trained to. To get an idea of complexity and diversity that it can handle, click on the nodes below </p>
            
        </div>
    
    </div>
</div>    
    
      <div class="container">
        <div class="row">
        
        <div class="col-lg-4">
          <h4>On Performance</h4>
          <p>When you do a single upload the recognition engine kicks off and gears up for prediction. This takes bulk of the time (~95%). Subsequent predictions take only a small incremental time. Contact us know to know this in detail</p>
        </div>
        <div class="col-lg-4">
          <h4>On Accuracy</h4>
          <p>This model has been trained on a standard set of images which are usually available online for competitions. For specific uses this can be trained and perfected.</p>
        </div>
        <div class="col-lg-4">
          <h4>On Ease of Use</h4>
          <p>You can get your images tagged in good old upload image urls way, or through a dashboard or integrate it with your existing infrastructure with our apis. Contact us to know more</p>
        </div>
        
      </div>
      </div>
        <!-- Upload form. Note enctype attribute! -->

        <footer class="footer">
            <div class="container text-center">
                <p>&copy; 2016 Scientist.</p>
            </div>
      </footer>
   <script>
    var margin = {top: 20, right: 120, bottom: 20, left: 120},
    width = 960 - margin.right - margin.left,
    height = 800 - margin.top - margin.bottom;
    
    var i = 0,
        duration = 750,
        root;
    
    var tree = d3.layout.tree()
        .size([height, width]);
    
    var diagonal = d3.svg.diagonal()
        .projection(function(d) { return [d.y, d.x]; });
    
    var svg = d3.select(".image-labels").append("svg")
        .attr("width", width + margin.right + margin.left)
        .attr("height", height + margin.top + margin.bottom)
      .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
    
    
    d3.json("{% static 'objectrecognition/test.json' %}", function(error, flare) {
      if (error) throw error;
    
      root = flare;
      root.x0 = height / 3;
      root.y0 = 0;
    
      function collapse(d) {
        if (d.children) {
          d._children = d.children;
          d._children.forEach(collapse);
          d.children = null;
        }
      }
    
      root.children.forEach(collapse);
      update(root);
    });
   </script>
   <script type="text/javascript" src="{% static 'objectrecognition/main.js' %}"></script>
    </body>
</html> 