
#choose_file{
    width: 250px;
}
#id_docfile{
    width: inherit;
}
#result-image{
    width: 400px;
}
.jumbotron{
    
    background-color: #eee;
}
body{
    background-color: #fff;
}

.panel-primary {
    border-color: #aaa;
}
.panel-primary>.panel-heading{
    background-color: #222;
    border-color: #000;
}
text{
    height: 1em;
}
.navbar-brand{
    color:#eee;
}

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
hr {
   display: block;
   position: relative;
   padding: 0;
   margin: 8px auto;
   height: 0;
   width: 100%;
   max-height: 0;
   font-size: 1px;
   line-height: 0;
   clear: both;
   border: none;
   border-top: 1px solid #aaaaaa;
   border-bottom: 1px solid #ffffff;
}
.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
}
label {
    color: #333;
}